/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

html {
  min-height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-color: #ffffff;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  text-align: center;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

/* body {
    min-height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

header {
  margin-bottom: 8%;
}

h1, h2 {
  color: #ffffff;
  margin-bottom: 1%;
}

.question {
  font-color: #ffffff;
  margin-bottom: 0.5%;
}

.selectors {
  background-color: #ffffff;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 12px;
  margin-bottom: 5%;
  font-style: italic;
/*
  width: 70%;
  margin: auto;
  margin-bottom: 10%;
  height: 20%;  */
}

/* label {
  padding: 1px;
  margin: 1px;
  text-align: left;
} */

input[type=radio] {
    width: 20px;
    height: 20px;
/*     margin: 0 10px 0 10px; */
}

/* #affirmation {
    display: inline-block;
} */

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 0.5% 4%;
  background-color: #134d71;
  border-color: #134d71;
  border-radius: 8px;
  color: #ffffff;
}

.display {
  background-color: #ffffff;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 12px;
  margin-bottom: 10%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}


.meditate-img {
  width: 80px;
  height: 80px;
}
